<div>
    <input type="hidden" #selection>
    <button class="contact-button" (click)="addContact()">Add Contact</button>
    <div class="flex-container">
        <div class="card-container">
            <div *ngFor="let contact of contacts" class="card card-small" (click)="selection.value = 'component'" tabindex="0">
                <span>{{contact.firstName}} {{contact.lastName}}</span>
            </div>
        </div>
        <form class="form-container" *ngIf="showForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <!--!!!make form hide and show with contact button
                add form controls and field validation
            -->
            <div class="flex-form">
                <div><label>First Name</label><input matInput type="text" formControlName="firstName"/></div>
            
                <div><label>Last Name</label><input matInput type="text" formControlName="lastName"/></div>
            
                <div><label>Company</label><input matInput type="text" formControlName="company"/></div>
            
                <div><label>Email</label><input matInput type="text" formControlName="email"/></div>
            
                <div><label>Phone</label><input matInput type="text" formControlName="phone"/></div>
            
                <div><label>Address</label><input matInput type="text" formControlName="address"/></div>
                <div style="width:348px;"><button class="submit-button" type="submit" [disabled]="!contactForm.valid">Submit</button></div>
            </div>
        </form>
    </div>
</div>
